html {
	font-size: 16px;
}
body {
	--spatiere-pagina: 30px;
	--padding-section: 10px;
}
#grid-pagina {
	grid-template-areas:
		'z-descriere z-descriere'
		'z-sigla z-orar'
		'z-reduceri z-orar'
		'z-populare z-lista_produse'
		'z-populare z-similar'
		'z-faq z-faq';
	gap: 10px 5px;
}
