html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	font-size: 18px;
}
body {
	--culoare-background: #8f8383;
	--culoare-background-inchis: #808080;
	--culoare-text: #000000;
	--culoare-border: #994949;
	--culoare-background-hover: #332e30;
	--spatiere-pagina: 30px;
	--padding-section: 15px;
	--latime-iftab: 10px;
	--inaltime-iftab: 5px;
}
body.dark {
	--culoare-background: rgb(0, 0, 0);
	--culoare-text: white;
}
body {
	background-color: var(--culoare-background);
	color: var(--culoare-text);
	padding-left: var(--spatiere-pagina);
	padding-right: var(--spatiere-pagina);
	min-width: 450px;
	margin: 0;
}
footer {
	width: 100%;
	background-color: var(--culoare-background-hover);
}
header {
	width: 100%;
	background-color: var(--culoare-border);
	text-align: center;
}
h1 {
	font-size: 2.5rem;
}
#br-h1,
#br-footer {
	display: none;
}
h2 {
	font-size: 2rem;
}

div.taburi-iframe > a {
	border: 3px solid var(--culoare-border);
	padding-left: 7px;
	padding-right: 7px;
	border-top-right-radius: 18%;
	border-top-left-radius: 18%;
	text-align: center;
	text-decoration: none;
	color: var(--culoare-text);
	font-weight: bold;
	transition: background-color 0.8s linear;
}

div.taburi-iframe > a:hover {
	background-color: var(--culoare-background-hover);
}

.gotop {
	display: flex;
	border: 3px solid var(--culoare-border);
	text-decoration: none;
	font-size: 50px;
	height: 0.8em;
	width: 0.8em;
	text-align: center;
	line-height: 1;
	color: var(--culoare-text);
	border-top-right-radius: 35%;
	border-top-left-radius: 35%;
	position: sticky;
	bottom: 12%;
	left: 92%;
}

#banner {
	display: none;
}

#grid-pagina > * {
	border: 3px solid var(--culoare-border);
	padding: var(--padding-section);
}
#grid-pagina {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-areas:
		'z-descriere z-descriere z-descriere'
		'z-sigla z-orar z-lista'
		'z-populare z-orar z-lista'
		'z-populare z-reduceri z-similar'
		'z-faq z-faq z-faq';
	gap: 20px 10px;
}

#descriere {
	grid-area: z-descriere;
}

#populare {
	grid-area: z-populare;
}

#reduceri {
	grid-area: z-reduceri;
}

#similar {
	grid-area: z-similar;
}

#faq {
	grid-area: z-faq;
}

#orar {
	grid-area: z-orar;
}

#lista_produse {
	grid-area: z-lista;
}

#sigla {
	grid-area: z-sigla;
}

img {
	width: 100%;
	max-width: 400px;
}

main {
	margin-top: 100px;
}
