@media print {
	#grid-pagina {
		display: block;
	}
	#banner {
		display: block;
		margin: auto;
		text-align: center;
		width: 70vw;
		border: 3px solid var(--culoare-border);
	}

	img,
	iframe,
	.gotop {
		display: none;
	}

	a {
		text-decoration: none;
		color: var(--culoare-text);
	}

	h1 {
		text-align: center;
	}
	#br-h1 {
		display: block;
	}
	#br-footer {
		display: block;
	}

	ul.meniu {
		display: block;
	}
	ul.meniu li {
		border: none;
	}
}
